<% @phrases.each do |phrase|%>
<div class="row slang-div">
  <div class="col-md-7" style="float:left;width:60%;">
    <h1><%= link_to phrase.slang, phrase_path(phrase) %></h1>
    <p><%= phrase.description %></p>
    <p><i><%= phrase.example %></i></p>
    <p>
      <%= button_to "That's dope!", phrase_path(phrase, params.merge(vote: "up", location: "index")), method: :patch, action: :update, :class=>"btn btn-info", :role => "button" %>
      <%= button_to "That's whack!", phrase_path(phrase, params.merge(location: "index")), method: :patch, id: phrase, action: :update, :class=>"btn btn-danger", :role => "button" %>
    </p>
  </div>
  <div class="col-md-2" style="float:right;margin-right:10%;">
    <h1>Score</h1>
      <h3><%= phrase.upvotes - phrase.downvotes %></h3>
  </div>
  </div><br><br>
<% end %>
