<% @phrases.each do |phrase|%>
  <div class="jumbotron slang-div">
    <h1><%= link_to phrase.slang, phrase_path(phrase) %></h1>
    <p><%= phrase.description %></p>
    <p><i><%= phrase.example %></i></p>
    <p>
      <%= button_to "That's dope!", phrase_path(phrase, params.merge(vote: "up", location: "index")), method: :patch, action: :update, :class=>"btn btn-info", :role => "button" %>
      <%= button_to "That's whack!", phrase_path(phrase, params.merge(location: "index")), method: :patch, id: phrase, action: :update, :class=>"btn btn-danger", :role => "button" %>
    </p>
    <h4>Score</h4>
      <p><%= phrase.upvotes - phrase.downvotes %></p>
  </div><br><br>
<% end %>

<%= link_to "Add a new phrase", new_phrase_path %>


