<!DOCTYPE html>
<html>
<head>
  <title>Decipher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="inner-div">

<div class="row">
  <div class="col-md-5" style="float:left;">
    <h1 id="header-font"><%= link_to "Decipher Dictionary", phrases_path %></h1>
  </div>
  <div class="col-md-6" style="float:right;text-align:right;">
      <%= simple_form_for :search, url: phrases_path(:index), html: {class: 'navbar-form'}, method: :get do |f| %>
        <%= f.input :query, placeholder: "Search Phrases", label: false, input_html: { class:
      'form-control'} %>
      <% end %>
    <h4><%= link_to "Submit some slang, yo", new_phrase_path %></h4>
    <h4><%= link_to "Random Phrase", phrase_path(id: "random") %></h4>
  </div>
</div>

<hr>

  <div class="container">
    <% if flash.any? %>
      <div class="alert alert-info">
       <strong>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </strong>
    </div>
  <% end %>
</div>

  <%= yield %>
</div>

</body>
</html>
