<!DOCTYPE html>
<html>
<head>
  <title>Decipher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<img src="images/decipher.png">

  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

              <%= simple_form_for :search, url: phrases_path(:index), html: {class: 'navbar-form'}, method: :get do |f| %>
              <%= f.input :query, placeholder: "Search Phrases", label: false, input_html: { class:
            'form-control'} %>
              <% end %>

      </div>
    </div>

 <div class="container">
    <% if flash.any? %>
      <div class="alert alert-info">
        <strong>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </strong>
      </div>
    <% end %>



<%= yield %>

</body>
</html>
